body{
    background-color: rgb(0, 0, 0);
margin: 0;
font-family: "Montserrat" , "Avenir";

}
.square
{
    width: 30%;
    background-color: rgb(21, 252, 156);
    padding-bottom: 30%;
    float:left;
    margin:1.66%;
    border-radius: 15%;
transition: background 0.6s;

}
#container{
margin: 20px auto;
max-width:600px;
}
h1{
    color: white;
    line-height: 1.1;
    text-align: center;
    font-weight: normal;
    background-color: steelblue;
    margin:0;
    text-transform: uppercase;
    padding: 20px 0; 

}
#colorDisplay{
font-size:200% ;
}
#message{
display: inline-block;
width: 20%;

}



#stripe{
background: white;
text-align:center;
height: 30px;
}
.selected{
    color: white;
background: steelblue ;

}
button{
border:none;
background: none;
text-transform: uppercase;
height:100%;
font-weight:700 ;
color: steelblue;
font-size: inherit;
transition: all 0.5s;
outline:none ;
}
button:hover{
color: white;
background:steelblue ;

}
